html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: #f0f5ff;
}

.header-guest {
    width: 100%;
    height: 13vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1a3e7f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 7.8vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25vw;
    color: #fff;
}

.header-guest-container {
    width: 84vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.name-and-logo {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-align: left;
}

.image-13-icon {
    width: 2.4vw;
    position: relative;
    max-height: 100%;
    object-fit: cover;
}

.name {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    font-weight: 600;
}

.page-switch {
    display: flex;
    align-items: center;
    gap: 0.625vw;
    font-size: clamp(16px, 1.04vw, 20px);
}

.page-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.page-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625vh 1.25vw;
    cursor: pointer;
}

.page-link::after {
    content: "";
    position: absolute;
    left: 0.625vw;
    right: 0.625vw;
    bottom: 0.3vh;
    height: 0.1vh;
    width: 0%;
    background: #ffffff;
    transition: width 0.25s ease;
    border-radius: 1px;
}

.page-link:hover::after{
    width: calc(100% - 1.04vw);
}

.page-text {
    position: relative;
}

.get-started {
    height: 6vh;                    
    border-radius: 3vh;  
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 0.83vw;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.94vw;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.get-started:hover{
    background-color: #DADADA;
    color: #000;
}

.hero {
    width: 100%;
    position: relative;
    background-color: #f0f5ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.1vw;
    color: #000;
}

.jon-moore-1pxgp8kkqyk-unsplash {
    position: absolute;
    top: 0;
    left: 20.3vw;
    background: linear-gradient(168.04deg, rgba(240, 245, 255, 0), #f0f5ff);
    width: 80.8vw;
    height: 81.3vh;
    transform: rotate(30deg);
    transform-origin: 0 0;
}

.hero-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(40px, 7vw, 140px);
    z-index: 1;
}

.chevron-circle-left-parent {
    width: 100%;
    max-width: 84vw;       
    gap: 2.1vw;           
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chevron-circle-left-icon {
    height: 7.3vh;         
    width: 3.65vw;         
    position: relative;
}


.hero-textimg {
    display: flex;
    align-items: center;
    gap: 3.3vw;
}

.welcome-to-moneytime-parent {
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-to-moneytime {
    align-self: stretch;
    position: relative;
    line-height: 134.77%;
}

.lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-size: clamp(14px, 0.94vw, 20px);
}

.velocity-of-money-1-icon {
    width: 26vw;        
    border-radius: 2.6vw; 
    position: relative;
    max-height: 100%;
    object-fit: cover;
}

.hero-pagination {
    display: flex;
    align-items: center;
    gap: 0.52vw;
}

.current-page {
    height: 2.1vh;           
    width: 2.24vw;           
    border-radius: 1.04vh;   
    position: relative;
    background-color: #1a3e7f;
}

.a {
    height: 2.1vh;
    width: 1.04vw;           
    border-radius: 1.04vh;
    position: relative;
    background-color: #969ba2;
}

.features-component {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15.6vh;         
    box-sizing: border-box;
    text-align: center;
    font-size: clamp(20px, 1.88vw, 40px);       
    color: #000;

}

.features-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.56vw;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.52vw;
}

.key-features {
    align-self: stretch;
    position: relative;
}

.lorem-ipsum-dolor {
    position: relative;
    font-size: clamp(14px, 0.94vw, 20px);
}

.features-card {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.67vw;        
    text-align: center;
    font-size: clamp(18px, 1.46vw, 32px);  
}

.money-card {
    width: 41.4vw;      
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 0;
}

.card {
    height: 35vh;
    flex: 1;
    border-radius: 0.78vw;         
    background-color: #1a3e7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    box-sizing: border-box;
    z-index: 1;
    flex-shrink: 0;
    box-shadow: -0.52vw 0.52vw 0 #102853; 
    transition: ease-out 0.3s;

}

.card:hover {
    box-shadow: -1.04vw 1.04vw 0 #102853;
}

.card-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.56vw; /* 30px ≈ 1.56vw */
}

.features--title {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0.52vw;
}

.logo-card {
    height: 7.3vh;           
    width: 3.55vw;           
    border-radius: 3.65vh;   
    background-color: #f7f6f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.35vh 0.63vw;  
    box-sizing: border-box;
}

.div {
    position: relative;
    line-height: 134.77%;
    font-weight: 600;
}

.money {
    position: relative;
    line-height: 134.77%;
    font-weight: 600;
    color: #f7f6f3;
}

.features--lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-size: clamp(14px, 0.94vw, 20px);
    color: #f7f6f3;
}
