<div id="logout-modal" class="modal">
    <div class="modal-icon-wrapper">
        <i class="fa-solid fa-right-from-bracket" style="font-size: 150px; color: #c90004;"></i>
    </div>

    <div class="modal-title">Log Out</div>

    <div class="modal-desc">
        Are you sure you want to log out from your account?
    </div>

    <div class="modal-actions">
        <button class="modal-btn" id="logoutNoBtn">
            <span class="text">No</span>
        </button>
        <button class="modal-btn modal-btn-danger" id="logoutYesBtn">
            <span class="text">Yes</span>
        </button>
    </div>
</div>