<div id="wont-do-modal" class="modal">
    <div class="modal-icon-wrapper">
        <i class="fa-solid fa-xmark" style="font-size: 180px; color: #E45700;"></i>
    </div>

    <div class="modal-title">Mark as Won't Do</div>

    <div class="modal-desc">
        Are you sure you want to mark this schedule as “won’t do”?
    </div>

    <div class="modal-actions">
        <button class="modal-btn" id="wontDoCancelBtn">
            <span class="text">Cancel</span>
        </button>
        <button class="modal-btn modal-btn-wontdo" id="wontDoConfirmBtn">
            <span class="text">Yes</span>
        </button>
    </div>
</div>