<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleLandingPage.css" />
    <script src="static/scriptLandingPage.js"></script>
    <title>MoneyTime</title>
</head>
<body>
    <div class="header-guest">
        <div class="header-guest-container">
            <div class="name-and-logo">
                <img class="image-13-icon" alt="" src="{{ url_for('static', filename='logoMoneyTime.svg) }}">
                <div class="name">
                    <div class="logo">MoneyTime</div>
                </div>
            </div>
            <div class="page-switch">
                <a href="#home" class="page-link">
                    <div class="page-1">
                        <b class="page-text">Home</b>
                    </div>
                </a>

                <a href="#features" class="page-link">
                    <div class="page-1">
                        <b class="page-text">Features</b>
                    </div>
                </a>
                
                <a href="#about" class="page-link">
                    <div class="page-1">
                        <b class="page-text">About</b>
                    </div>
                </a>

                <a href="#contact" class="page-link">
                    <div class="page-1">
                        <b class="page-text">Contact</b>
                    </div>
                </a>
                
            </div>
            <div class="get-started" id="getStartedContainer">
                <div class="home">Get Started</div>
            </div>
        </div>
    </div>

    <!-- Header-Guest -->
    <div class="hero" id="home">
        <div class="hero-background">
            <img class="jon-moore-1pxgp8kkqyk-unsplash-icon" alt="">
            <div class="jon-moore-1pxgp8kkqyk-unsplash">
            </div>
        </div>
        <div class="hero-container">
            <div class="chevron-circle-left-parent">
                <img class="chevron-circle-left-icon" alt=""src="{{ url_for('static', filename='chevron-circle-left.svg) }}">
                <div class="hero-textimg">
                    <div class="welcome-to-moneytime-parent">
                        <b class="welcome-to-moneytime">Welcome to MoneyTime!</b>
                        <div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <img class="velocity-of-money-1-icon" alt="" src="{{ url_for('static', filename='Velocity-of-money 1.svg) }}">
                </div>
                <img class="chevron-circle-left-icon" alt="" src="{{ url_for('static', filename='chevron-circle-right.svg) }}">
            </div>
            <div class="hero-pagination">
                <div class="current-page">
                </div>
                <div class="a">
                </div>
                <div class="a">
                </div>
            </div>
        </div>
    </div>

    <!-- Features Component -->
    <div class="features-component" id="features">
        <div class="features-container">
            <div class="title">
                <b class="key-features">Key Features</b>
                <div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
            <div class="features-card">
                <div class="money-card">
                    <div class="card">
                        <div class="card-container">
                            <div class="features--title">
                                <div class="logo-card">
                                    <div class="div">💵</div>
                                </div>
                                <div class="money">Money</div>
                            </div>
                            <div class="features--lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                </div>
                <div class="money-card">
                    <div class="card">
                        <div class="card-container">
                            <div class="features--title">
                                <div class="logo-card">
                                    <div class="div">⏱️</div>
                                </div>
                                <div class="money">Time</div>
                            </div>
                            <div class="features--lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
